<ion-header class="ion-no-border">
  <ion-toolbar class="bg-gray-100 text-black border-b border-gray-200">
    <ion-title class="font-bold">
      Root Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-white text-black">
  <h1 class="text-xl font-bold mb-4">This is the Root Component</h1>
  <p class="mb-4">This component is inside an <code>&lt;ion-nav&gt;</code> element.</p>
  <ion-button (click)="pushPage()" expand="block" shape="round">
    Push Another Page
    <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-button>
</ion-content>