<ion-header class="ion-no-border">
  <ion-toolbar class="bg-white text-black border-b border-gray-200">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="font-bold">
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="[--background:#F2F4F7]">
  <div class="flex items-center justify-center h-full">
    <div class="text-center text-gray-500">
      <ion-icon name="cog-outline" class="text-7xl"></ion-icon>
      <h1 class="text-2xl mt-4">Settings Page</h1>
      <p>User preferences and options will be here.</p>
    </div>
  </div>
</ion-content>