<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253346274750-m3pvrbnti009lkdqnc05tfo835vs8g2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253346274750-m3pvrbnti009lkdqnc05tfo835vs8g2g</string>
	<key>API_KEY</key>
	<string>AIzaSyAf7HvZe9PV-SwHYgJNZrFlfT731LF7w4s</string>
	<key>GCM_SENDER_ID</key>
	<string>253346274750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ceyhallo.app</string>
	<key>PROJECT_ID</key>
	<string>ceyhallo-89e40</string>
	<key>STORAGE_BUCKET</key>
	<string>ceyhallo-89e40.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253346274750:ios:3d98934c7fa09b062b2def</string>
	<key>DATABASE_URL</key>
	<string>https://ceyhallo-89e40-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>